h1{
    color: rgb(98, 0, 255);
    font-size: 64px;
}
a{
    font-size: 50px;
    color: black;
}
body{
    font-size: 24px;
    border: 20px solid rgb(228, 48, 245);
}
p span{
    color: rgb(43, 226, 52);
}
.balock{
    color: #000;
}
*{
    font-family: monospace;
    
}
