html{
    font-size: 22px;
}
body{
    color: rgb(48, 255, 21);
    background-color: black;
    }
h1{
    color: #ee0808;
    }
h2{
    color: #ee0808;
    }
h3{
    color: #ee0808;
    }
a{
   color: rgb(48, 255, 21); 
    }
table, tr, th, td, caption,button{
border: 1px solid #eee;
font-family: 'Courier New', Courier, monospace;
border-collapse: collapse;
padding: 0.5rem;
}